.THIS {
}    
    .THIS.White-hr {
        background: white;
        height: 10px;
        margin: 0px;
        border: 0px;
    }
    .THIS.Green-hr {
        background: green;
        height: 10px;
        margin: 0px;
        border: 0px;
    }
    .THIS.Lawngreen-hr {
        background: lawngreen;
        height: 10px;
        margin: 0px;
        border: 0px;
    }
    .THIS.Red-hr {
        background: red; 
        height: 10px;
        margin: 0px;
        border: 0px;
    }
    .THIS.Black-hr {
        background: black;
        height: 10px;
        margin: 0px;
        border: 0px;
    }
    .THIS.Blue-hr {
        background:blue; 
        height: 10px;
        margin: 0px;
        border: 0px;
    }
    .THIS.Purple-hr {
        background: purple;
        height: 10px;
        margin: 0px;
        border: 0px;
    }
    .THIS.Pink-hr {
        background: pink;
        height: 10px;
        margin: 0px;
        border: 0px;
    }
    .THIS.Yellow-hr {
        background: yellow;
        height: 10px;
        margin: 0px;
        border: 0px;
    }
    .THIS.Aqua-hr {
        background: Aqua;
        height: 10px;
        margin: 0px;
        border: 0px;
    }
    .THIS.Indigo-hr {
        background: Indigo;
        height: 10px;
        margin: 0px;
        border: 0px;
    }