.THIS .logoContainer {
    background-image: t('url(' + brandLogoImage  + ')');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 99;
    cursor: pointer;
    position: relative;
    max-width: 100%;
    height: t(logoHeight);
}

.THIS .theme-header {
    background: white;
}

.THIS .theme-footer {
    background: black;
}

.THIS .login .linkLabel {
	color: t(colorTextDefault) !important;
}

.THIS .profileName  {
    text-align: center;
    color: t(colorTextDefault) !important;
    font-family: t(fontFamily);
}

.THIS li.profile.uiMenuItem {
    display: none;        
}

.THIS li.home.uiMenuItem {
    display: none;        
}

.THIS li.myAccount.uiMenuItem {
    display: none;
}