.THIS ul {
    list-style-type: none;
}

.THIS li {
    color: white;
}

.THIS li a {
    color: white;
}

.THIS .brand-name {
    color: white;
}
.THIS .footer-bullet-header {
    font-size: x-large;
}